@import 'button';
@import 'text';
@import 'burger';
@import 'form';

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--primary-color);
}

::selection {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.body {
  font-family: Jost;
  background-color: var(--white-color);
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  max-width: 1230px;
}

.logo {
  @include flex-align-center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);

  & span {
    color: var(--primary-color);
  }

  &::before {
    content: '';
    border-radius: 50%;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
  }
}