:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #2b71e3;
  --gray-color: #777;
  --telegram-color: #0088cc;
  --whatsapp-color: #25D366;

  --transition: 0.3s ease-in-out;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}