.advantages {
  padding: 70px 0;

  &__title {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 30px;
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    overflow: hidden;

    &-left {
      padding: 40px 30px;
      background-color: var(--dark-color);
      & svg {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;

        & path {
          fill: red;
        }
      }
    }

    &-right {
      padding: 40px 30px;
      
      & .advantages__card-title {
        color: var(--dark-color);
      }

      & .advantages__card-text {
        color: var(--dark-color);
      }

      & .advantages__card-list {
        margin-bottom: 30px;
      }

      & svg {
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;

        & path {
          fill: rgb(0, 255, 55);
        }
      }
    }

    &-title {
      font-size: 1.5em;
      text-transform: uppercase;
      color: var(--white-color);
      margin-bottom: 30px;
      font-weight: 500;
      line-height: 1.3;
    }

    &-list {
      @include flex-column;
      gap: 30px;
    }

    &-item {
      display: flex;
      gap: 10px;
    }

    &-text {
      color: var(--white-color);
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.3;
    }

    &-button {
      padding: 25px 30px;
    }
  }
}