.reviews {
  padding: 70px 0;
  background-color: #f6f6f6;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__slider {
    
    &-nav {

      &-arrow {
        position: absolute;
        z-index: 10;
        background-color: var(--primary-color);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;

        & svg {
          width: 15px;
          height: 15px;
  
          & path {
            stroke: var(--white-color);
          }
        }

        &--prev {
          top: 50%;
          left: -20px;
          transform: translateY(-50%)
        }

        &--next {
          top: 50%;
          right: -20px;
          transform: translateY(-50%)
        }

        &--is-disabled {
          opacity: 0.6;
        }
      }

      &-wrap {
        @include flex-all-center;
        width: 100%;
        height: 100%;
      }
    }

    &-list {
      display: flex;
    }

    &-slide {
      border-radius: 10px;
      border: 1px solid var(--dark-color);
      padding: 30px;
    }

    &-head {
      @include flex-align-center;
      gap: 10px;
      margin-bottom: 10px;
    }

    &-avatar {
      display: flex;
      justify-content: center;
      align-items: end;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: var(--dark-color);

      & svg {
        width: 25px;
        height: 25px;

        & path {
          fill: var(--white-color);
        }
      }
    }

    &-name {
      font-size: 1.1em;
      color: var(--dark-color);
    }

    &-row {
      @include flex-align-center;
      gap: 10px;
      margin-bottom: 20px;
    }

    &-date {
      color: var(--dark-color);
    }

    &-content {
      height: 99px;
      overflow-y: auto;
    }

    &-description {
      color: var(--dark-color);
    }
  }
}